{% extends "template.html.twig" %}
{% block title %}admin - post
{% endblock %}
{% block main %}
	{{form_start(form, {'attr':{'class':'post-form'}})}}
    {% for error in form.vars.errors %}
        <div class="form-error">{{error.getMessage()}}</div>
    {% endfor %}
	<div class="wrapper">
		<div class="left">
			{{form_widget(form.title)}}
			{{form_widget(form.excerpt)}}
			{{form_widget(form.body)}}
		</div>
		<div class="right">
			<p>public</p>
			{{form_widget(form.public)}}
			<label for="post_public"></label>
			{{form_widget(form.submit)}}
			

		</div>
	</div>
	{{form_end(form)}}
	<script src="//cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
{% endblock %}
