{% extends "template.html.twig" %}


{% block title %}archive
{% endblock %}

{% block meta_desc %}
	{{posts[0].excerpt}}
{% endblock %}

{% block main %}

	{% for post in posts %}
		<article>
			<h2>
				<a href="{{url('post', {slug: post.slug})}}">
					{{post.title}}
				</a>
			</h2>
			<p>
				{{post.excerpt}}
			</p>
		</article>
	{% endfor %}

	<div class="pagination">
		{% for i in 1..pages %}
			<a href="{{url('archive', {page: i})}}" class=" {% if i == app.request.get('page')%}active{% endif%}">{{i}}</a>
		{% endfor %}
	</div>
{% endblock %}
