<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>glob | {% block title %}{% endblock %}</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="icon" href="{{asset('public/favicon.ico')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Patrik Krivulčík">
        <meta name="description" content="{% block meta_desc %}{% endblock %}">
     
        {{encore_entry_link_tags('app')}}
    </head>
    <body>
        {% block body %}{% endblock %}
        {{encore_entry_script_tags('app')}}
    </body>
</html>
