{% extends "template.html.twig" %}


{% block title %}home
{% endblock %}

{% block meta_desc %}
	{{posts[0].excerpt}}
{% endblock %}

{% block main %}

	{% for post in posts %}
		<article>
			<h2>
				<a href="{{url('post', {slug: post.slug})}}">
					{{post.title}}
				</a>
			</h2>
			<p>
				{{post.excerpt}}
			</p>
		</article>
	{% endfor %}
	<a href="{{url('archive')}}" class="more-link">
		more<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
		</svg>
	</a>
{% endblock %}
