{% extends "base.html.twig" %}
{% block title %}login
{% endblock %}
{% block body %}
	<div class="login-page">
		<form action="#" method="POST">
			<h1>glob</h1>
			<input type="text" name="username" placeholder="username" required autofocus>
			<input type="password" name="password" placeholder="password" required>
			<input type="submit" value="login">
		</form>
	</div>
{% endblock %}
