{% extends "template.html.twig" %}

{% block title %}
	{{post.title}}
{% endblock %}

{% block meta_desc %}
	{{post.excerpt}}
{% endblock %}

{% block main %}
	<div class="post">
		<h1 class="post-title">{{post.title}}</h1>
		<h2 class="post-excerpt">{{post.excerpt}}</h2>
		<h4 class="post-date">{{post.created| date('d.n.Y H:m')}}</h4>
		<p class="post-body">{{post.body|raw}}</p>
	</div>

{% endblock %}
