{% extends "base.html.twig" %}

{% block body %}
	<aside>
		<a href="{{url('index')}}" class="logo">glob</a>

		<ul class="menu">
			{% set route = app.request.get('_route')%}

			<li>
				<a href="{{url('index')}}" class="{% if route == 'index' %}active{% endif %}">home</a>

			</li>
			<li>
				<a href="{{url('archive')}}" class="{% if route == 'archive' %}active{% endif %}">archive</a>
			</li>
			{% if app.user %}
				<li>
					<a href="{{url('admin.all')}}" class="{% if route == 'admin.all' %}active{% endif %}">admin</a>

				</li>
				<li>
					<a href="{{url('admin.logout')}}">logout</a>

				</li>


			{% endif %}
		</ul>
	</aside>
	<main>
		{% block main %}{% endblock %}
	</main>
{% endblock %}
